<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="rooms-header">
          <h2>Rooms Table Details</h2>
          <h3>You can check all details</h3>
        </div>
        <button routerLink="add-room" class="btn btn-primary w-25">
          <span class="px-2">Add New Room </span>
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead class="table-header">
        <th>Room No</th>
        <th>Image</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Capacity</th>
        <th>Category</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td>{{ room.roomNumber }}</td>
          <td>
            <!-- {{ room.description }} -->
            <img style="width: 35rem" [src]="room.images[0]" />
          </td>
          <td>{{ room.price }}</td>
          <td>{{ room.discount }}</td>
          <td>{{ room.capacity }}</td>
          <td>
            <div *ngFor="let item of room.facilities">
              <span> {{ item.name }}</span>
            </div>
          </td>
          <td>
            <button
              class="table-button"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                class="table-button"
                (click)="viewRoom(room)"
                mat-menu-room
              >
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              <button
                class="table-button"
                mat-menu-room
                [routerLink]="['/admin/rooms/', room._id]"
              >
                <mat-icon>edit-square</mat-icon>
                <span>Edit</span>
              </button>
              <button
                class="table-button"
                (click)="deleteRoom(room)"
                mat-menu-item
              >
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <mat-paginator
        [length]="rooms?.totalNumberOfRecords"
        [pageSizeOptions]="[5, 10, 50, 100]"
        [pageSize]="10"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</section>
